.hero-title {
    font-family: var(--font-josefin);
    color: #fff;
}

@screen lg {
    .lg\:hero-title {
        font-family: var(--font-josefin);
        font-size: 4.5em;
    }
}

.feature-title {
    font-family: var(--font-josefin);
}

.head-shot {
    position: relative;
    top: 20px;
    width: minmax(64px, 80vw, 120px);
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.hover\:btn-lift:hover {
    transform: var(--btnHover-transform);
    box-shadow: var(--btnHover-boxShadow);
}
.hover\:btn-lift {
    transition: 0.3s all ease-in-out;
}

.calendly-badge-widget {
    bottom: initial;
}

.calendly-badge-widget {
    @apply bottom-8 md:bottom-8 !important;
}

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}
