@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animation-hover h2 {
  color: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.animation-hover:hover h2 {
    animation-play-state: running;
    color: inherit;
    background: linear-gradient(90deg, var(--tw-gradient-stops));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    animation: gradient-move 1s linear infinite;
    -webkit-animation: gradient-move 1s linear infinite;
}